<%= _.template(require('./../includes/header-index.html'))() %>
  <main class="main">
    <header class="firstscreen">
      <div class="firstscreen__bg bg1"></div>
      <div class="firstscreen__content">
        <div class="container container_xxxl">
          <div class="firstscreen__content-inner">
            <div class="firstscreen__info firstscreen__info3">
              <div class="firstscreen__header">
                <div class="logo logo_main">Grand<span>Hook</span>Up</div>
              </div>
              <div class="h1_login d-lg-none">Sign up&nbsp;<br class="d-md-none"><span class="colortitle1">to unlock</span>&nbsp;<br class="d-md-none">girls</div>
              <div class="h1_login d-none d-lg-block">Sign up<br><span class="h1_login-sub">to <span class="colortitle1">unlock girls</span></span></div>
                <form action="">
                  <div class="form-group form-group_login">
                    <input class="form-control form-control_login" type="text" placeholder="Email">
                  </div>
                  <div class="form-group form-group_login">
                    <input class="form-control form-control_login" type="password" placeholder="Password">
                  </div>
                  <div class="form-group form-group_login form-group_login-btn">
                    <button class="btn-login btn btn_w100">Sign Up</button>
                  </div>
                </form>
            </div>
          </div>
        </div>
      </div>
    </header>



    <div class="secondscreen secondscreen_02">
      <div class="d-xl-none">
        <div class="timer">
          <div class="timer_inner">
            <div class="timer__title">Limited chance</div>
            <div class="countdown-js" data-countdown-time="0-15-0"></div>
          </div>
        </div>
        <div class="container container_xxxl">
          <div class="h1_timer">to Look at<br><span class="colortitle2">these</span> cuties</div>
        </div>
      </div>
      <div class="container container_xxxl">
        <div class="d-none d-xl-flex align-items-xl-center">
          <div class="timer">
            <div class="timer_inner">
              <div class="timer__title">Limited chance</div>
              <div class="countdown-js" data-countdown-time="0-15-0"></div>
            </div>
          </div>
          <div class="h1_timer">to Look at <span class="colortitle2">these</span> cuties</div>
        </div>


      </div>
    </div>
  </main>
<%= _.template(require('./../includes/footer.html'))() %>
