/* font-family: "Inter"; */
/* font-family: "PlayfairDisplay"; */

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter/Inter-Regular.eot');
  src: url('../fonts/Inter/Inter-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Inter/Inter-Regular.woff2') format('woff2'),
  url('../fonts/Inter/Inter-Regular.woff') format('woff'),
  url('../fonts/Inter/Inter-Regular.ttf') format('truetype'),
  url('../fonts/Inter/Inter-Regular.svg#Inter-Regular') format('svg');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter/Inter-Medium-Italic.eot');
  src: url('../fonts/Inter/Inter-Medium-Italic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Inter/Inter-Medium-Italic.woff2') format('woff2'),
  url('../fonts/Inter/Inter-Medium-Italic.woff') format('woff'),
  url('../fonts/Inter/Inter-Medium-Italic.otf') format('opentype'),
  url('../fonts/Inter/Inter-Medium-Italic.svg#Inter-Medium-Italic') format('svg');
  font-style: italic;
  font-weight: 500;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter/Inter-Bold.eot');
  src: url('../fonts/Inter/Inter-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Inter/Inter-Bold.woff2') format('woff2'),
  url('../fonts/Inter/Inter-Bold.woff') format('woff'),
  url('../fonts/Inter/Inter-Bold.ttf') format('truetype'),
  url('../fonts/Inter/Inter-Bold.svg#Inter-Bold') format('svg');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'PlayfairDisplay';
  src: url('../fonts/PlayfairDisplay/PlayfairDisplay-SemiBoldItalic.eot');
  src: url('../fonts/PlayfairDisplay/PlayfairDisplay-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/PlayfairDisplay/PlayfairDisplay-SemiBoldItalic.woff2') format('woff2'),
  url('../fonts/PlayfairDisplay/PlayfairDisplay-SemiBoldItalic.woff') format('woff'),
  url('../fonts/PlayfairDisplay/PlayfairDisplay-SemiBoldItalic.ttf') format('truetype'),
  url('../fonts/PlayfairDisplay/PlayfairDisplay-SemiBoldItalic.svg#PlayfairDisplay-SemiBoldItalic') format('svg');
  font-style: italic;
  font-weight: 600;
}

@font-face {
  font-family: 'PlayfairDisplay';
  src: url('../fonts/PlayfairDisplay/PlayfairDisplay-BlackItalic.eot');
  src: url('../fonts/PlayfairDisplay/PlayfairDisplay-BlackItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/PlayfairDisplay/PlayfairDisplay-BlackItalic.woff2') format('woff2'),
  url('../fonts/PlayfairDisplay/PlayfairDisplay-BlackItalic.woff') format('woff'),
  url('../fonts/PlayfairDisplay/PlayfairDisplay-BlackItalic.ttf') format('truetype'),
  url('../fonts/PlayfairDisplay/PlayfairDisplay-BlackItalic.svg#PlayfairDisplay-BlackItalic') format('svg');
  font-style: italic;
  font-weight: 900;
}
