.firstscreen {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 48px;
  @media (min-width: 992px) {
    flex-direction: row;
    justify-content: space-between;
    height: 420px;
  }
  @media (min-width: 1200px) {
    height: 568px;
  }
  @media (min-width: 1400px) {
    height: 663px;
  }
  @media (min-width: 1650px) {
    height: 781px;
  }
  @media (min-width: 1920px) {
    height: 909px;
  }
}

.firstscreen__bg {
  //width: calc(100% - 15px);
  width: 305px;
  height: 322px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  position: relative;
  @media (min-width: 380px) {
    width: 365px;
    height: 385px;
  }
  @media (min-width: 576px) {
    width: 400px;
    height: 422px;
  }
  @media (min-width: 992px) {
    width: 430px;
    min-width: 430px;
    height: 420px;
    position: absolute;
    z-index: 1;
  }
  @media (min-width: 1200px) {
    width: 582px;
    min-width: 582px;
    height: 568px;
  }
  @media (min-width: 1400px) {
    width: 678px;
    min-width: 678px;
    height: 663px;
  }
  @media (min-width: 1650px) {
    width: 799px;
    min-width: 799px;
    height: 781px;
  }
  @media (min-width: 1920px) {
    width: 930px;
    min-width: 930px;
    height: 909px;
  }

  @include img-mask('../img/bg/mask-header.svg', 0, 0, 100%, 100%, cover, 100%);

  &.bg1 {
    background-image: url('../img/bg/bg-header-01.jpg');
  }
  &.bg2 {
    background-image: url('../img/bg/bg-header-02.jpg');
  }
  &.bg3 {
    background-image: url('../img/bg/bg-header-03.jpg');
  }
}

.firstscreen__content {
  width: 100%;
  @media (min-width: 992px) {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
  }
}

.firstscreen__content-inner {
  @media (min-width: 992px) {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}

.firstscreen__header {
  padding: 27px 0 20px;
  @media (min-width: 1400px) {
    padding: 55px 0 43px;
  }
  @media (min-width: 1650px) {
    padding: 80px 0 50px;
  }
  @media (min-width: 1920px) {
    padding: 117px 0 58px;
  }
}

.firstscreen__info {
  width: 100%;
  @media (min-width: 992px) {
    width: 40%;
  }

  &.firstscreen__info1 {
    @media (min-width: 1920px) {
      width: 570px;
      min-width: 570px;
    }
  }

  &.firstscreen__info2 {
    @media (min-width: 1920px) {
      width: 480px;
      min-width: 480px;
    }
  }

  &.firstscreen__info3 {
    @media (min-width: 992px) {
      width: 310px;
      min-width: 310px;
      margin: 0 140px 0 0;
    }
    @media (min-width: 1200px) {
      width: 400px;
      min-width: 400px;
      margin: 0 110px 0 0;
    }
    @media (min-width: 1300px) {
      margin: 0 135px 0 0;
    }
    @media (min-width: 1400px) {
      width: 500px;
      min-width: 500px;
      margin: 0 95px 0 0;
    }
    @media (min-width: 1500px) {
      margin: 0 110px 0 0;
    }
    @media (min-width: 1650px) {
      width: 530px;
      min-width: 530px;
      margin: 0 160px 0 0;
    }
    @media (min-width: 1750px) {
      width: 560px;
      min-width: 560px;
      margin: 0 170px 0 0;
    }
    @media (min-width: 1920px) {
      width: 530px;
      min-width: 530px;
      margin: 0 160px 0 0;
    }
  }
}
